@model List<Entities.Photograph>
@{
    /**/

    ViewBag.Title = "Index";
}

@{
    ViewBag.Title = "Home Page";
}
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>

        body { background-color: #E8E8E8; }

        .grid { margin-top: 10px;  }

        .grid-item img { border-radius: 5px; }

        .container { float: left; position: relative;  transition: 1s ease; z-index: 1; margin-bottom: 10px; }

            .container:hover .btn-container { visibility: visible; opacity: 1; w }

        .btn-container { padding: 10px; min-height: 40px; max-height:80px; background-color: rgba(0,0,0,0.2); position: absolute; bottom: 10px; left: 20px; border-radius: 5px; visibility: hidden; opacity: 0; transition: visibility 0s, opacity 0.7s linear; }

        .container img { width: 100%; height: auto; border: 1px solid #666; }

        .container .btn-fb { height: 33px; margin-top: -3px; }

        .container .btn:hover { filter: brightness(0) invert(1); }

        .btn-container a { color: white; }

        .btn-container .fa-heart:hover { color: red; }

        .btn-container .fa-heart { color: white; margin-left: 3px; }

        .btn-container .fa-eye { color: white; margin-left: 3px; }

            .btn-container .fa-eye:hover { color: #278b3b; }

        .btn-container .fa-facebook-square:hover { color: #3b5998; }

        .btn-container .fa-twitter-square:hover { color: #00acee; }

        .btn-container .fa-search:hover { color: #EBAF2F; }

        .modal-header { background-color: #333; }

        .modal-body { background-color: #222; }

        .phototitle { float: right; margin-left: 10px; font-family: 'Ink Free'; color: white; font-size: 18px; margin-top: -2px; }
    </style>
</head>
<body>

    <div class="grid">

        @foreach (var photo in Model)
        {

            <div class="container col-xs-6 col-md-12 col-sm-4 col-lg-3  grid-item">
                <div class="buttons">

                    <a href="@Url.Action("photoInfo","Photograph")/@photo.Id"><img src="@photo.Link" alt="Snow" style="width:100%"></a>

                    <div class="btn-container">

                        <a href=""> <span class="fab fa-facebook-square"></span></a>
                        <a href=""> <span class="fab fa-twitter-square"></span></a>
                        <a href="" data-toggle="modal" data-target="@("#myModal"+photo.Id)" data-backdrop=":false"> <span class="fas fa-search"></span></a> @*Tek bir modal oluşturuyordu id verdik o yüzden*@


                        <a href=""><span class="fas fa-heart">1939</span></a>
                        <span class="fas fa-eye">20.170</span> 
                        @if (photo.Name.Length > 11)
                        {
                            string shortname = new string(photo.Name.Take(11).ToArray());
                            photo.Name = shortname + "...";
                            <div class="phototitle">@photo.Name </div>
                        }
                        else
                        {
                            <div class="phototitle">@photo.Name </div>
                        }
                    </div>
                </div>
            </div>

            <div class="modal fade" id="@("myModal"+photo.Id)" role="dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <img src="@photo.Link" style="width:100%">
                    </div>
                </div>
            </div>
        }
    </div>
</body>

<body>
    <script>

        $('document').ready(function () {
            $('.grid').masonry({
                // options
                itemSelector: '.grid-item',

                gutter: 0
            });
        })
    </script>
</body>
</html>